<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SORACOM Remote - ソラコムSIMのスピード変更を簡単に。</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SORACOM Remote</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">ホーム</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">サインアウト</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
    <div class="container" style="width:70%">
{% if error   %}
    <div class="alert alert-dismissible alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{error}}
    </div>
{% endif %}
{% if message %}
    <div class="alert alert-dismissible alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{message}}
    </div>
{% endif %}

{% for sim in sims %}
    <h2 style="margin-top:30px">{{sim.tags.name}}</h2>
    <div class="btn-group btn-group-sm" style="margin-right:0px" role="group">
      <a href="#" class="btn btn-default navbar-btn" disabled="disabled">ステータス: <strong><em>{{sim.status}}</em></strong></a>
    </div>
{% if sim.status == "active" %}
    <div class="btn-group btn-group-sm" role="group">
      <a href="/sim/{{sim.imsi}}/deactivate" class="btn {% if sim.status == 'inactive' %}btn-primary{% else %}btn-default{% endif %} navbar-btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> 休止</a>
    </div>
{% endif %}
{% if sim.status == "inactive" %}
    <div class="btn-group btn-group-sm" role="group">
      <a href="/sim/{{sim.imsi}}/activate" class="btn {% if sim.status == 'active' %}btn-primary{% else %}btn-default{% endif %} navbar-btn"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> 利用開始</a>
    </div>
{% endif %}
{% if sim.status == "active" %}
    <div class="btn-group btn-group-sm" role="group">
      {% for type in ['s1.minimum', 's1.slow', 's1.standard', 's1.fast'] %}
      <a href="/sim/{{sim.imsi}}/modify?new_type={{type}}&amp;old_type={{sim.type}}" class="btn {% if sim.type == type %}btn-primary{% else %}btn-default{% endif %} navbar-btn">
        {{type}}
      </a>
      {%- endfor %}
    </div>
{% endif %}
{% endfor %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </div>
    </div>
  </body>
</html>
