<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SORACOM Remote - ソラコムSIMのスピード変更を簡単に。</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">SORACOM Remote</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron" style="margin-top:0px">
    <div class="container" style="width:50%">
{% if error   %}    <div class="alert alert-danger" role="alert">{{error}}</div>{% endif %}
{% if message %}    <div class="alert alert-success" role="alert">{{message}}</div>{% endif %}
    <form class="form-signin" method="post" action="/login">
      <h2 class="form-signin-heading">サインインします</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="username" name="username" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
      <button class="btn btn-lg btn-primary btn-block" type="submit">サインイン</button>
    </form>

{% for sim in sims %}{% if sim.status == "active" %}
    <h2>{{sim.tags.name}}</h2>
    <div class="btn-group btn-group-sm" role="group">
      {% for type in ['s1.minimum', 's1.slow', 's1.standard', 's1.fast'] %}
      <button type="button" class="btn {% if sim.type == type %}btn-primary{% else %}btn-default{% endif %} navbar-btn">
      <!--<button type="button" class="btn btn-default">-->
        <a href="/sim/{{sim.imsi}}/modify?new_type={{type}}&amp;old_type={{sim.type}}">{{type}}</a>
      </button>
      {%- endfor %}
    </div>
{% endif %}{% endfor %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </div>
    </div>
  </body>
</html>
